*.sh text eol=lf
gradlew text eol=lf
Dockerfile text eol=lf
Makefile text eol=lf
Makefile.* text eol=lf
configure text eol=lf
bootstrap text eol=lf
compile text eol=lf
config.guess text eol=lf
config.sub text eol=lf
depcomp text eol=lf
install-sh text eol=lf
ltconfig text eol=lf
missing text eol=lf
mkinstalldirs text eol=lf
build/serverfiles/* text eol=lf
build/ubuntufiles/**/DEBIAN/* text eol=lf
build/ubuntufiles/**/*.desktop text eol=lf
build/ubuntufiles/**/etc/init.d/* text eol=lf
